---
import Navigation from '../components/Navigation.astro';
import "../styles/global.css";

const pageTitle = "Home Page";
---
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>